flows_ProjetoIoT.json
[
    {
        "id": "163139f151d8e0c2",
        "type": "tab",
        "label": "Flow 1",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "d6cd61ead7d37812",
        "type": "mqtt in",
        "z": "163139f151d8e0c2",
        "name": "",
        "topic": "aparecidalm/feeds/temperatura",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "6498ba83b39ed219",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 150,
        "y": 220,
        "wires": [
            [
                "068b0419f9abd53a",
                "598a8c4b933afa0d",
                "cff3ebba0169e9d8",
                "96027a08e6a14d07"
            ]
        ]
    },
    {
        "id": "57ac138836b2c223",
        "type": "debug",
        "z": "163139f151d8e0c2",
        "name": "Temperatura",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 770,
        "y": 140,
        "wires": []
    },
    {
        "id": "cff3ebba0169e9d8",
        "type": "file",
        "z": "163139f151d8e0c2",
        "name": "",
        "filename": "dataTemperatura.log",
        "filenameType": "str",
        "appendNewline": true,
        "createDir": false,
        "overwriteFile": "false",
        "encoding": "utf8",
        "x": 500,
        "y": 120,
        "wires": [
            []
        ]
    },
    {
        "id": "a08511e8da626416",
        "type": "e-mail",
        "z": "163139f151d8e0c2",
        "server": "smtp.gmail.com",
        "port": "465",
        "authtype": "BASIC",
        "saslformat": true,
        "token": "oauth2Response.access_token",
        "secure": true,
        "tls": true,
        "name": "aparecidalml0@gmail.com",
        "dname": "Notificação de Alarme Temperatura",
        "credentials": {},
        "x": 840,
        "y": 240,
        "wires": []
    },
    {
        "id": "3be51ee259a46604",
        "type": "mqtt in",
        "z": "163139f151d8e0c2",
        "name": "",
        "topic": "aparecidalm/feeds/umidad",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "6498ba83b39ed219",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 130,
        "y": 520,
        "wires": [
            [
                "fc08781b76ad381f",
                "09e2738fcc182027",
                "afb24eec461717c4",
                "d19e3cc80d8e7702"
            ]
        ]
    },
    {
        "id": "019b07adce0e1841",
        "type": "debug",
        "z": "163139f151d8e0c2",
        "name": "Umidade",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 760,
        "y": 460,
        "wires": []
    },
    {
        "id": "d19e3cc80d8e7702",
        "type": "file",
        "z": "163139f151d8e0c2",
        "name": "",
        "filename": "dataUmidade.log",
        "filenameType": "str",
        "appendNewline": true,
        "createDir": false,
        "overwriteFile": "false",
        "encoding": "utf8",
        "x": 490,
        "y": 440,
        "wires": [
            []
        ]
    },
    {
        "id": "f53f06b6854e0f38",
        "type": "e-mail",
        "z": "163139f151d8e0c2",
        "server": "smtp.gmail.com",
        "port": "465",
        "authtype": "BASIC",
        "saslformat": true,
        "token": "oauth2Response.access_token",
        "secure": true,
        "tls": true,
        "name": "aparecidalml0@gmail.com",
        "dname": "Notificação de Alarme Umidade",
        "x": 830,
        "y": 560,
        "wires": []
    },
    {
        "id": "96027a08e6a14d07",
        "type": "function",
        "z": "163139f151d8e0c2",
        "name": "Alarme Temperatura",
        "func": "var temp = msg.payload\nvar anterior = context.get('ant')\nvar tempAnt = context.get('temp')\ncontext.set('temp', temp)\nvar result = \"\"\nif (tempAnt < 28 || anterior > 30) {  \n    if (tempAnt != anterior) {\n        result = temp\n        msg.payload = \"Alerta! Mudança de estado da Temperatura do ambiente, fora do padrão normal! \" + `Temperatura atual: ${result}`      \n    }\n}\ncontext.set('ant', result)\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 500,
        "y": 200,
        "wires": [
            [
                "57ac138836b2c223",
                "a08511e8da626416"
            ]
        ]
    },
    {
        "id": "068b0419f9abd53a",
        "type": "ui_gauge",
        "z": "163139f151d8e0c2",
        "name": "",
        "group": "73cae77a4ecfac34",
        "order": 1,
        "width": 0,
        "height": 0,
        "gtype": "gage",
        "title": "Temperatura",
        "label": "ºC",
        "format": "{{value}}",
        "min": "20",
        "max": "40",
        "colors": [
            "#f9f22f",
            "#58fd2b",
            "#ca3838"
        ],
        "seg1": "25",
        "seg2": "30",
        "diff": false,
        "className": "",
        "x": 470,
        "y": 280,
        "wires": []
    },
    {
        "id": "598a8c4b933afa0d",
        "type": "ui_chart",
        "z": "163139f151d8e0c2",
        "name": "",
        "group": "73cae77a4ecfac34",
        "order": 2,
        "width": 0,
        "height": 0,
        "label": "Temperatura",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "interpolate": "bezier",
        "nodata": "",
        "dot": false,
        "ymin": "20",
        "ymax": "40",
        "removeOlder": 1,
        "removeOlderPoints": "",
        "removeOlderUnit": "60",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 470,
        "y": 360,
        "wires": [
            []
        ]
    },
    {
        "id": "fc08781b76ad381f",
        "type": "ui_gauge",
        "z": "163139f151d8e0c2",
        "name": "",
        "group": "73cae77a4ecfac34",
        "order": 3,
        "width": 0,
        "height": 0,
        "gtype": "gage",
        "title": "Umidade",
        "label": "g/m³",
        "format": "{{value}}",
        "min": "55",
        "max": "85",
        "colors": [
            "#e6f41f",
            "#4cf50f",
            "#ca3838"
        ],
        "seg1": "60",
        "seg2": "70",
        "diff": false,
        "className": "",
        "x": 460,
        "y": 600,
        "wires": []
    },
    {
        "id": "09e2738fcc182027",
        "type": "ui_chart",
        "z": "163139f151d8e0c2",
        "name": "",
        "group": "73cae77a4ecfac34",
        "order": 4,
        "width": 0,
        "height": 0,
        "label": "Umidade",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "interpolate": "bezier",
        "nodata": "",
        "dot": false,
        "ymin": "55",
        "ymax": "85",
        "removeOlder": 1,
        "removeOlderPoints": "",
        "removeOlderUnit": "60",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 460,
        "y": 680,
        "wires": [
            []
        ]
    },
    {
        "id": "afb24eec461717c4",
        "type": "function",
        "z": "163139f151d8e0c2",
        "name": "Alarme Umidade",
        "func": "var umid = msg.payload\nvar anterior = context.get('ant')\nvar umidAnt = context.get('umid')\ncontext.set('umid', umid)\nvar result = \"\"\nif (umidAnt < 55 || anterior > 70) {\n    if (umidAnt != anterior) {\n        result = umid\n        msg.payload = \"Alerta! Mudança de estado da Umidade do ambiente, fora do padrão normal! \" + `Umidade atual: ${result}`\n    }\n}\ncontext.set('ant', result)\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 490,
        "y": 520,
        "wires": [
            [
                "019b07adce0e1841",
                "f53f06b6854e0f38"
            ]
        ]
    },
    {
        "id": "6498ba83b39ed219",
        "type": "mqtt-broker",
        "name": "",
        "broker": "34.28.96.89",
        "port": "1883",
        "clientid": "",
        "autoConnect": true,
        "usetls": false,
        "protocolVersion": "4",
        "keepalive": "60",
        "cleansession": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willPayload": "",
        "willMsg": {},
        "userProps": "",
        "sessionExpiry": ""
    },
    {
        "id": "73cae77a4ecfac34",
        "type": "ui_group",
        "name": "Ambiente",
        "tab": "315af630e8017d90",
        "order": 1,
        "disp": true,
        "width": 8,
        "collapse": true,
        "className": ""
    },
    {
        "id": "315af630e8017d90",
        "type": "ui_tab",
        "name": "Home",
        "icon": "dashboard",
        "disabled": false,
        "hidden": false
    }
]